{% extends 'base.html.twig' %}
{% block body %}
    <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 current-cart-container">
        {{ form_start(formCart) }}
            <table class="cart-table">
                <thead>
                <tr>
                    <th>Product image</th>
                    <th>Product name:</th>
                    <th>Product quantity:</th>
                    <th>Price per product:</th>
                    <th>Total price:</th>
                    <th>Remove from cart:</th>
                    {#<td>Total price</td>#}
                </tr>
                </thead>
                <tbody>
                {% for cartProduct in formCart.cartProducts  %}
                    <tr class="cart-row">
                        <td class="table-cell-img">
                            <div class="img-content align-block">
                    {% if cartProduct.vars.data.offer.frontProductImage != null %}
                            <img src="{{ asset('Uploads/ProductImages/' ~ cartProduct.vars.data.offer.frontProductImage.path ~ '') }}" alt="">
                    {% else %}
                        <img src="{{ asset('Images/DSC06750.JPG') }}" alt="">
                    {% endif %}
                            </div>
                        </td>
                        <td>{{ cartProduct.vars.data.offer.product.name }}</td>
                        <td>{{ form_widget(cartProduct.quantity) }}</td>
                        <td>{{ cartProduct.vars.data.offer.retailPrice }}</td>
                        <td>{{ cartProduct.vars.data.offer.retailPrice * cartProduct.vars.data.quantity }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total: {{ cartTotalSum }} BGN</td>
                    <td><button type="submit" id="edit-cart">Edit!</button></td>
                </tr>
                </tbody>
            </table>

        {#{{ dump(formCart.vars.data) }}#}
        {{ form_end(formCart) }}
        <form method="post"
        action="{{ path('order_current_cart_process', { 'idUser' : app.user.id ,'idCart' : formCart.vars.data.id}) }}">
            <button type="submit">Finalise Order</button>
        </form>
    </section>
{% endblock %}