{% extends 'base.html.twig' %}
{% block body %}
    <section class="current-order-container">
        <h1 class="page-title">
            {% if not "ROLE_ADMIN" in app.user.roles %}
                Your
            {% else %}
                User #{{ "%08d"|format(order.user.id) }}
            {% endif %}
            order
        </h1>
        <table class="order-table">
            <thead>
            <tr>
                <th>Product image</th>
                <th>Product name:</th>
                <th>Product quantity:</th>
                <th>Price per product:</th>
                <th>Total price:</th>
            </tr>
            </thead>
            {#{{ dump(order.cart) }}#}
            <tbody>
            {% for cartProduct in order.cart.cartProducts %}
                <tr class="order-row">
                    <td class="order-table-cell-img">
                        <div class="img-content align-block">
                            {% if cartProduct.offer.frontProductImage != null %}
                                <img src="{{ asset('Uploads/ProductImages/' ~ cartProduct.offer.frontProductImage.path ~ '') }}"
                                     alt="">
                            {% else %}
                                <img src="{{ asset('Images/DSC06750.JPG') }}" alt="">
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ cartProduct.offer.product.name }}</td>
                    <td>{{ cartProduct.quantity }}</td>
                    <td>
                        {% set productPromotion = priceCalculator.calculate(cartProduct.offer) %}
                        {% if productPromotion != cartProduct.offer.retailPrice %}
                            <del>{{ cartProduct.offer.retailPrice|number_format(2, '.', ',') }} </del>
                        {% endif %}
                        {{ productPromotion|number_format(2, '.', ',') }} {{ cartProduct.offer.currency }}
                    </td>
                    <td>{{ (productPromotion * cartProduct.quantity)|number_format(2, '.', ',') }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>
                    {% if order.confirmedOn == null %}
                        <form method="post"
                              action="{{ path('edit_order_before_finalised', { 'idUser' : app.user.id ,'idCart' : order.cart.id}) }}">
                            <button type="submit" id="">Edit order!</button>
                        </form>
                    {% endif %}

                </td>
                <td></td>
                <td></td>
                <td>Total: {{ cartTotalSum|number_format(2, '.', ',') }} BGN</td>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% if order.confirmedOn == null %}
        {{ form_start(form, {'action': path('confirm_order_current_cart_process', {'idUser' : app.user.id ,'idCart' : order.cart.id}), 'method': 'POST'}) }}
        <div>
            {{ form_label(form.addresses) }}
            {{ form_errors(form.addresses) }}
            {{ form_widget(form.addresses) }}
        </div>
        <div>
            {{ form_errors(form.address) }}
            {{ form_widget(form.address) }}
        </div>
        <div>
            {{ form_label(form.phones) }}
            {{ form_errors(form.phones) }}
            {{ form_widget(form.phones) }}
        </div>
        <div>
            {{ form_errors(form.phone) }}
            {{ form_widget(form.phone) }}
        </div>
        <div>
            <button type="submit">Confirm order!</button>
        </div>
        {{ form_end(form) }}
        {% else %}
        <div>
            <p>
                {#{{ dump("ROLE_ADMIN" in app.user.roles) }}#}
            {% if "ROLE_ADMIN" in app.user.roles %}
                User #{{ "%08d"|format(order.user.id) }}
            {% else %}
                Your
            {% endif %}
                shipment address is {{ order.address.address }}.
            </p>
            <p>
                {#{{ dump("ROLE_ADMIN" in app.user.roles) }}#}
                {% if "ROLE_ADMIN" in app.user.roles %}
                User #{{ "%08d"|format(order.user.id) }}
            {% else %}
                Your
                {% endif %}
                phone is {{ order.phone.phoneNumber }}</p>
        </div>
        {% endif %}
        {% if order.user != app.user and order.completedOn == null %}
        {#{% if "ROLE_ADMIN" in app.user.roles %}#}
            <form method="POST" action="{{ path('confirm_order_process', {'idOrder' : order.id}) }}">
                <button type="submit">Complete order!</button>
            </form>
        {% endif %}
    </section>
{% endblock %}