{% extends 'base.html.twig' %}
{% block body %}
    <section class="">
        <h1>All Categories</h1>
        <article class="">
            <table>
                <thead>
                <tr>
                    <th>Category name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                <tr class="table-row-light">
                    <td><a href="">{{ category.name }}</a></td>
                    <td><a href="">Edit</a></td>
                    <td><a href="">Delete</a></td>
                </tr>
                    {% for subcategory in category.subcategories %}
                        <tr class="table-row-dark">
                            <td><a href="">{{ subcategory.name }}</a></td>
                            <td><a href="">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                        {% for product in subcategory.products %}
                            {% for productOffer in product.productOffers %}
                                <tr class="table-row-light">
                                    <td>{{ productOffer.product.name }}</td>
                                    <td>{{ productOffer.product.description }}</td>
                                    <td>{{ productOffer.description }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
{% endblock %}