{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-title">Create new Product here!</h1>
    <section class="product-form-container">
        {{ form_start(productForm) }}
        <div>
            {#{{ form_label(productForm.product.name) }}#}
            <label for="">Product name:</label>{{ form_widget(productForm.product.name) }}
        </div>
        <div>
            {{ form_label(productForm.product.category) }}{{ form_widget(productForm.product.category) }}
        </div>
        {#<div>#}
            {#{{ form_label(productForm.product.subcategory) }}#}
            {#{{ form_widget(productForm.product.subcategory) }}#}
        {#</div>#}
        <div>
            {{ form_label(productForm.product.description) }}
            {{ form_widget(productForm.product.description) }}
        </div>
        <div>
            {{ form_label(productForm.description) }}
            {{ form_widget(productForm.description) }}
        </div>
        <div>
            {{ form_label(productForm.quantityForSale) }}
            {{ form_widget(productForm.quantityForSale) }}
        </div>
        <div>
            {{ form_label(productForm.retailPrice) }}
            {{ form_widget(productForm.retailPrice) }}
        </div>
        <div>
            {{ form_label(productForm.currency) }}
            {{ form_widget(productForm.currency) }}
        </div>
        {#<div class="prices-holder" data-prototype="{{form_widget(productForm.productPrices.vars.prototype)|e('html_attr')}}">#}
            {#{% for price in productForm.productPrices %}#}
                {#{{ form_widget(price.vars.prototype)|e }}#}
                {#<div>#}
                    {#{{ form_label(price.retailPrice) }}#}
                    {#{{ form_widget(price.retailPrice) }}#}
                {#</div>#}
                {#<div>#}
                    {#{{ form_label(price.currency) }}#}
                    {#{{ form_widget(price.currency) }}#}
                {#</div>#}
                {#<div>#}
                    {#{{ form_label(price.startDate) }}#}
                    {#{{ form_widget(price.startDate) }}#}
                {#</div>#}
                {#<div>#}
                    {#{{ form_label(price.endDate) }}#}
                    {#{{ form_widget(price.endDate) }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
        {# this removes unnecessary rendered div in div from the form #}
        {#{% do productForm.productPrices.setRendered() %}#}
        <div class="images-holder" data-prototype="{{form_widget(productForm.productImages.vars.prototype)|e('html_attr')}}">
            {% for image in productForm.productImages %}
                <div class="image-single">
                    <div>
                        {{ form_label(image.file) }}
                        {{ form_widget(image.file) }}
                    </div>
                    <div>
                        {{ form_label(image.isFrontImage) }}
                        {{ form_widget(image.isFrontImage) }}
                    </div>
                    <div>
                        {{ form_label(image.description) }}
                        {{ form_widget(image.description) }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Create!</button>
        {{ form_end(productForm) }}
    </section>

{% endblock %}

