{% extends 'base.html.twig' %}
{% block body %}
    <section class="col-lg-3 product-offer-container-small">
        <article class="small-img-product">
            <a href="#"><img class="" src="{{ asset('Images/DSC06750.JPG') }}" alt=""></a>
        </article>
        <article class="short-info-product">
            <ul>
                <li>
                    <span>Name: </span><a href="#"><span></span></a>
                </li>
                <li>
                    <span>Category: </span><a href="#"><span></span></a>
                </li>
                <li>
                    <span>Price: </span>
                </li>
                <li>
                    <form action="">
                        <input type="submit" class="add-to-cart" value="Add to cart" />
                    </form>
                </li>
                <li>
                    <form action="">
                        <input type="submit" class="add-to-favourite" value="Add favourite" />
                    </form>
                </li>
            </ul>
        </article>
    </section>



<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Unit measure</th>
            <th>Quantity</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', {'id' : product.id}) }}">{{ product.name }}</a>
                </td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.unitMeasure }}</td>
                <td>{{ product.quantity }}</td>
                <td><a href="{{ path('edit_product',{'id' : product.id}) }}">Edit!</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}