{% extends 'base.html.twig' %}
{% block body %}
    <h1>Hello {{ user.nickname }}</h1>
    <section class="profile-info-container">
        <article class="prifile-info-container">
            <header>
                <ul>

                </ul>
            </header>
            <section>
                <ul>
                    <li>
                        <span>First name: </span><span>{{ user.firstName }}</span>
                    </li>
                    <li>
                        <span>Last name: </span><span>{{ user.lastName }}</span>
                    </li>
                    <li>
                        <span>Email: </span><span>{{ user.email }}</span>
                    </li>
                    <li>
                        <span>Money: </span><span>{{ user.cash }} BGN</span>
                    </li>
                </ul>
            </section>
        </article>

    </section>
    <section class="prifile-nav-container">
        <ul>
            <li>
                <a href="{{ path('user_edit_profile', {'id' : user.id}) }}">Edit profile Info</a>
            </li>
            <li>
                <a href="">Products I own</a>
            </li>
            <li>
                <a href="">Products for sale</a>
            </li>
            <li>
                <a href="{{ path('user_all_orders_show', {'id' : user.id}) }}">My orders</a>
            </li>
        </ul>
    </section>

{% endblock %}