{% extends 'base.html.twig' %}
{% block body %}
    <section>
        {% if boughtProducts|length>0 %}
            {% if app.user != user and is_granted("ROLE_ADMIN") %}
                <h1 class="page-title">Here are the products that {{ user.nickname }} bought until now:</h1>
            {% else %}
                <h1 class="page-title">Here are the products that you bought until now:</h1>
            {% endif %}

            <article class="current-cart-container">
                <table class="products-table">
                    <thead>
                    <tr>
                        <th>Product image</th>
                        <th>Product name</th>
                        <th>Product category</th>
                        <th>Retail price</th>
                        <th>Bought quantity</th>
                        <th>
            {% if app.user.role.type == "ROLE_USER" or is_granted("ROLE_ADMIN")%}
                            Sold quantities
                {% endif %}
                        </th>

                        <th>
                            {% if app.user.role.type == "ROLE_USER" %}
                                Announce to sell
                            {% endif %}

                        </th>
                        {#<th></th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in boughtProducts %}
                        {#<tr>#}
                            {#<td>{{ product[1] }}</td>#}
                        {#</tr>#}
                        <tr class="products-table-row">
                            <td class="products-table-cell-img">
                                <div class="img-content align-block">
                                    {% if product[0].offer.frontProductImage != null %}
                                        <img src="{{ asset('Uploads/ProductImages/' ~ product[0].offer.frontProductImage.path ~ '') }}"
                                             alt="">
                                    {% else %}
                                        <img src="{{ asset('Images/DSC06750.JPG') }}" alt="">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ product[0].offer.product.name }}</td>
                            <td>{{ product[0].offer.product.category }}</td>
                            <td>
                                {% set productPromotion = priceCalculator.calculate(product[0].offer) %}
                                {% if productPromotion != product[0].offer.retailPrice %}
                                    <del>{{ product[0].offer.retailPrice|number_format(2, '.', ',') }} </del>
                                {% endif %}
                                {{ productPromotion|number_format(2, '.', ',') }} {{ product[0].offer.currency }}

                            </td>
                            <td>{{ product['quantityBought']}}</td>
                            <td>
                        {% if app.user.role.type == "ROLE_USER" or is_granted("ROLE_ADMIN") %}
                                {{ product['quantitySold'] }}
                            {% endif %}
                            </td>

                            <td>
                        {% if app.user.role.type == "ROLE_USER"%}
                                <a href="{{ path('announce_for_sale', {'idUser' : app.user.id, 'idProduct' : product[0].offer.id}) }}">Sell!</a>
                            {% endif %}
                            </td>
                            {#<td><a href="{{ path('edit_product',{'id' : productOffer.id}) }}">Edit</a></td>#}
                            {#<td><a href="{{ path('delete_productOffer', {'id' : productOffer.id}) }}">Delete</a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </article>
        {% else %}
            <h1>You haven't bought any products! It's time to shop!</h1>
        {% endif %}
    </section>
{% endblock %}